* {
	text-align: center;
	background-color: #001133;
}

#userName:focus {
    outline: none !important;
    border:1px solid white;
}

#username::placeholder {
	color: white;
}

#pull-request-data {
	margin-top: 2%;
}

#pull-requests {
	list-style: none;
	margin-top: 2%;
	padding: 0;
}

#pull-requests li {
	margin-bottom: 1%;
}

#pull-requests li a, #user-info a {
	color: #92EAFF;
	text-decoration: none;
}

#pull-requests li a:hover, #user-info a:hover {
	color: #FF00AA;
}

.avatar {
	width: 100px;
	height: 100px;
	border: 2px solid white;
	border-radius: 50%;
}

#title {
	display: none;
	color: #92EAFF;
}

#search, #user-info {
	color: #92EAFF;
}

#search:hover, #userName, #progress {
	color: white;
}

#top-image {
	margin-bottom: 2%;
	width: 30%;
	height: 30%;
}

#parrot_badge {
	width: 150px;
	height: 150px;
}