* {
	text-align: center;
	background-color: #2D283E;
}

#pull-request-data {
	margin-top: 2%;
}

#pull-requests {
	list-style: none;
	margin-top: 2%;
}

#pull-requests li {
	margin-bottom: 1%;
}

#pull-requests li a {
	color: #86B3D1;
	text-decoration: none;
}

#pull-requests li a:hover {
	color: #E64398;
}

.avatar {
	width: 75px;
	height: 75px;
	border: 2px solid black;
}

#title {
	display: none;
	color: #86B3D1;;
}

#search, #user-info a {
	color: #86B3D1;
}

#userName {
	color: white;
}